{% extends "layout.html" %}
{% block body %}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Event Advisor</h1>
        <p class="lead">EventBrite</p>
    </div>
</div>

<form action="/retrieve" method="POST">
    <div class="form-group">
        <label for="value">Category:</label>
        <select class="form-control" name="category">
            <option>Arts</option>            
            <option>Business</option>
            <option>Charity</option>
            <option>Culture</option>
            <option>Education</option>
            <option>Family</option>
            <option>Fashion</option>
            <option>Film</option>
            <option>Food</option>
            <option>Health</option>
            <option>Hobbies</option>
            <option>Music</option>
            <option>Outdoors</option>
            <option>Religion</option>
            <option>Science & Tech</option>
            <option>Sports</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>


{% endblock %}