{% extends "layout.html" %}
{% block body %}

<script>
$(document).ready(function(){
  $("#page-content").fadeIn("slow");
});
</script>
<style>
  a {
    color:darkslategray;
  }
  a:hover{
    color: black
  }
  p{
    margin-top: -0.5rem;
    margin-bottom: -0.7rem;
  }
</style>
  <!-- Page Content -->
  <div class="row justify-content-center" style="padding: 1%; position: relative;"><img style="height:200px; width:60%; float:center" src="{{ url_for('static', filename='event.jpg') }}"><div style="font-weight:bolder; font-size:20px; color:white; position:absolute; top:8%; left:57%">Not looking for <span id="searchtxt">{{ searchinput }}</span>? <button class="btn btn-primary" onclick="return back()"><b style="font-size:20px">Back</b></button></div></div>
  <div id="page-content" style="display: none" class="container">
      <div class="row justify-content-center">
          {%for i in range( totalNames | length)%}
          <!-- 0.7 for the 2nd google if else in jinjia2 -->
          {% if i%2 == 0 %}
        <div class = "col-lg-5 d-flex" style="left:9.7%; padding-right: 0; padding-left:0; padding-bottom: 0;">
        <div class="card mb-3 h-80 w-75" style="padding:2%;">
            <a href = "{{ totalUrls[i] }}"><b style="font-family: Monospace; font-size:16px;">{{  totalNames[i] }}</b></a>
            <div class="card-body flex-fill" style="padding:0%">
            <p><b style="font-family: Monospace; font-size:10px;">{{ totalDates[i] }} : {{ totalTimes[i] }}</b></p>
            <span class="card-text"><b style="font-family: Monospace; font-size:12px;">{{  totalLocations[i] }}.</b></span>
            <div style="text-align:right;"><a href = "{{ totalUrls[i] }}">Read More</a></div>
          </div>
      </div>
      {% else %}
        <!-- /.card -->
        <div class = "col-lg-5 d-flex" style="left:0.7%; padding-right: 0; padding-left:0; padding-bottom: 0;">
          <div class="card mb-3 h-80 w-75" style="padding:2%;">
              <a href = "{{ totalUrls[i] }}"><b style="font-family: Monospace; font-size:16px;">{{  totalNames[i] }}</b></a>
              <div class="card-body flex-fill" style="padding:0%">
              <p><b style="font-family: Monospace; font-size:10px;">{{ totalDates[i] }} : {{ totalTimes[i] }}</b></p>
              <span class="card-text"><b style="font-family: Monospace; font-size:10px;">{{  totalLocations[i] }}.</b></span>
              <!-- fix below -->
              <div style="text-align:right;"><a href = "{{ totalUrls[i] }}">Read More</a></div>
            </div>
        </div>
      {% endif %}
        <br>
      </div>
      <!-- /.col-lg-9 -->
      {%endfor%} 
    </div>

  </div>
  <!-- /.container -->
  <div class="row justify-content-center">
  <nav aria-label="Page navigation example" >
    <ul class="pagination">
      <li class="page-item"><a id="1" class="page-link" href="#" >First</a></li>
      <li class="page-item"><a id="2" class="page-link" href="#">2</a></li>
      <li class="page-item"><a id="3" class="page-link" href="#">3</a></li>
      <li class="page-item"><a id="4" class="page-link" href="#">4</a></li>
      <li class="page-item"><a id="5" class="page-link" href="#">5</a></li>
      <li class="page-item"><a id="6" class="page-link" href="#">6</a></li>
      <li class="page-item"><a id="7" class="page-link" href="#">7</a></li>
      <li class="page-item"><a id="8" class="page-link" href="#" >8</a></li>
      <li class="page-item"><a id="9" class="page-link" href="#" >9</a></li>
      <li class="page-item"><a id="more" class="page-link" href="#">More</a></li>
    </ul>
  </nav>
</div>
  <script>
  function back(){
    window.location.href="/";
  }
  var theSearchTxt = document.getElementById("searchtxt").innerHTML;
  for (var i =1 ; i < 10 ; i++){
    document.getElementById(i.toString()).href = "/meetup/?search="+theSearchTxt+"&p="+i.toString();
  }
  </script>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>
{% endblock body %}