{% extends "layout.html" %}
{% block body %}
<script type="text/javascript">
function loading(){
    $("#content").hide();
    $("#head-loader").show();
    $("#loader").show();
    var searchUrl = "/predict/?q=" + $("#search").val() + "&p=1"
    window.location= searchUrl
}
</script>
<div id="content">
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Display results</h1>
        <p class="lead">Eventbrite</p>  
    </div>
</div>

<!-- <form action="/predict" method="POST">
    <div class="form-group">
        <label for="value">eventbrite search:</label>
        <input type="text" class="form-control" id ="search" name="search" placeholder="enter to search" autocomplete="off">
    <input type="submit" value="submit" class="btn btn-primary" onclick="loading()">
    </div>
</form> -->

<form action="/meetup" method="POST">
    <div class="form-group">
        <select name="category">
            <option value="tech" selected>tech</option>
            <option value="cook">cook</option>
        </select>    
        <label for="value">search:</label>
        <input type="text" class="form-control" id ="search" name="search" placeholder="enter to search" autocomplete="off">

    <input type="submit" value="submit" class="btn btn-primary" onclick="loading()">
    </div>
</form>
</div>
<h3 id="head-loader" style="display:none" >Loading Please wait a moment ... </h3>
<div id="loader" style="display:none" ></div>
<!--css loader from https://www.w3schools.com/howto/howto_css_loader.asp-->
{% endblock %}